body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    padding: 3rem 5rem;
}
.headerlogo {
    flex-basis: 20%;
    margin: 0;
    padding: 0;
}
.headerlogo img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
nav {
    flex-basis: 80%;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    text-align: center;
    width: 8rem;
    margin: 0;
    padding: 0;
}
a.slidefromright {
    position: relative;
    text-decoration: none;
    color: black;
}
a.slidefromright:before {
    content: "";
    position: absolute;
    width: 0;
    height: 20px;
    background-color: #ddae9b;
    visibility: hidden;
    transition: all 0.5s ease;
    z-index: -1;
}
a.slidefromright:hover:before {
    visibility: visible;
    width: 100%;
}
.main {
    text-align: center;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
.main img {
    margin: 2rem 0;
}
div.main a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: #ddae9b;
    margin: 0 auto;
    padding: 1rem;
    width: 16rem;
}
div.main a:hover {
    box-shadow: 2px 2px 20px lightgray;
}